.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    border: 1px solid black;
    flex: 1;
    padding: 10px;
  }
  
  .resize-boundary {
    width: 5px;
    cursor: ew-resize;
    background-color: transparent;
  }
  
  .resize-boundary:hover {
    background-color: lightgray;
  }
  